body {
  background-color: #CCA;
  font-family: verdana,arial,sans-serif;
  font-size:15px;
}

#container {
  width: 1024px;
  height: 100%;
  text-align: center;
  margin: 0px auto;
}


#header {
  /*border:2px solid red;*/
  width:1024px;
  height:70px;
  margin:10px 0 10px 0;
  text-align: center;
  position: relative;
  
}

#rightMenu {
  /*border:2px solid black;*/
  width:160px;
  float:right;
  margin:10px 0px 10px 830px;
  padding: 10px;
  position: absolute;
  
  
}

#page {
    /*border:2px solid blue;*/
    width:600px;
    margin:10px 0 10px 200px;
    min-height:500px;
    text-align: center;
    white-space: normal; 	
    position: left;
    display: block;
}


#leftMenu {
  /*border:2px solid green;*/
  width:180px;
  float:left;
  margin:0px 0 0px 0;
  display: block;
  text-align: left;
}


select {
  font-size: 17px;
}